.dockerignore
.git
/chart/
/frontend/Dockerfile
/frontend/node_modules
/frontend/npm-debug.log
/frontend/.next
/frontend/out
/frontend/dist
/map/
/state-schema-gen/
/node_modules/
/cli/node_modules/
/cli/dist/
/core/node_modules/
/core/dist/
/contracts/out/
/contracts/broadcast/
/contracts/cache/
/contracts/deployments/
/contracts/node_modules/
/contracts/lib/cog/services/
!/contracts/lib/cog/services/schema/
