[submodule "contracts/lib/cog"]
	path = contracts/lib/cog
	url = https://github.com/playmint/cog
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
