version: '3'

services:

  contracts:
    build:
      context: .
      dockerfile: ./contracts/Dockerfile
    image: playmint/ds-contracts:local
    ports:
      - 8545:8545
    environment:
      DEPLOYER_PRIVATE_KEY: "0x6335c92c05660f35b36148bbfb2105a68dd40275ebf16eff9524d487fb5d57a8"
      SERVICES_URL_HTTP: "http://cog:8080/query"
      SERVICES_URL_WS: "ws://cog:8080/query"

  sim:
    build:
      context: .
      dockerfile: ./contracts/Dockerfile
    image: playmint/ds-contracts:local
    ports:
      - 8546:8546
    entrypoint:
    - /bin/bash
    - -eu
    - -c
    - |
      anvil --host 0.0.0.0 --port 8546 --fork-url http://contracts:8545 --no-mining --no-rate-limit
    depends_on:
      - contracts

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    image: playmint/ds-frontend:local
    ports:
      - 3000:80

  cog:
    build:
      context: ./contracts/lib/cog/services
    image: playmint/ds-services:local
    restart: always
    entrypoint:
    - /bin/ash
    - -eu
    - -c
    - |
      echo "waiting contracts"
      /wait-for -it contracts:8545 -t 300
      echo "waiting sim"
      /wait-for -it sim:8546 -t 30
      echo "starting"
      exec /ds-node
    environment:
      CHAIN_ID: "1337"
      SEQUENCER_PRIVATE_KEY: "095a37ef5b5d87db7fe50551725cb64804c8c554868d3d729c0dd17f0e664c87"
      SEQUENCER_PROVIDER_URL_HTTP: "http://contracts:8545"
      SEQUENCER_PROVIDER_URL_WS: "ws://contracts:8545"
      SIMULATION_PROVIDER_URL_HTTP: "http://sim:8546"
      SIMULATION_PROVIDER_URL_WS: "ws://sim:8546"
      INDEXER_WATCH_PENDING: "false"
      INDEXER_PROVIDER_URL_HTTP: "http://contracts:8545"
      INDEXER_PROVIDER_URL_WS: "ws://contracts:8545"
    ports:
      - 8080:8080
    depends_on:
      - contracts
      - sim


