{{ define "frontend.config" }}
gameID: {{ $.Values.frontend.gameAddress | quote}}
build: {{ $.Values.version | quote }}
wsEndpoint: "wss://services-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}/query"
httpEndpoint: "https://services-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}/query"
{{ end }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Release.Name }}-services
  namespace: {{ $.Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ $.Release.Name }}-services
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ $.Release.Name }}-services
      annotations:
        gitsha: {{ $.Values.version | quote }}
    spec:
      priorityClassName: {{ $.Values.priorityClassName | quote }}
      containers:
        - name: services
          image: {{ printf "ghcr.io/playmint/ds-services:%s" $.Values.version }}
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "8080"
            - name: CHAIN_ID
              value: {{ $.Values.chainId | toString | quote }}
            - name: SEQUENCER_PRIVATE_KEY
              value: {{ $.Values.sequencer.privateKey | quote }}
            - name: SEQUENCER_PROVIDER_URL_HTTP
              value: {{ $.Values.sequencer.providerUrlHttp | quote }}
            - name: SEQUENCER_PROVIDER_URL_WS
              value: {{ $.Values.sequencer.providerUrlWs | quote }}
            - name: SEQUENCER_MINE_EMPTY
              value: {{ $.Values.sequencer.mineEmpty | quote }}
            - name: INDEXER_WATCH_PENDING
              value: {{ $.Values.indexer.watchPending | quote }}
            - name: INDEXER_PROVIDER_URL_HTTP
              value: {{ $.Values.indexer.providerUrlHttp | quote }}
            - name: INDEXER_PROVIDER_URL_WS
              value: {{ $.Values.indexer.providerUrlWs | quote }}
            - name: INDEXER_GAME_ADDRESS
              value: {{ $.Values.indexer.gameAddress | quote }}
            - name: INDEXER_MAX_LOG_RANGE
              value: {{ $.Values.indexer.maxLogRange | toString | quote }}
          command: ["/bin/ash"]
          args:
          - -eu
          - -c
          - |
            {{ if $.Values.anvil.enabled -}}
            echo "waiting"
            /wait-for -it localhost:8545 -t 300
            {{ end -}}
            echo "starting"
            exec /ds-node
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
        {{ if $.Values.anvil.enabled -}}
        - name: contracts
          image: {{ printf "ghcr.io/playmint/ds-contracts:%s" $.Values.version }}
          imagePullPolicy: Always
          env:
          - name: DEPLOYER_PRIVATE_KEY
            value: "0x6335c92c05660f35b36148bbfb2105a68dd40275ebf16eff9524d487fb5d57a8"
          - name: SERVICES_URL_HTTP
            value: "http://localhost:8080/query"
          - name: SERVICES_URL_WS
            value: "ws://localhost:8080/query"
          ports:
            - name: network
              containerPort: 8545
              protocol: TCP
          volumeMounts:
          - mountPath: "/root/.foundry/anvil/tmp"
            name: contracts-scratch
        {{ end -}}
      {{ if $.Values.anvil.enabled }}
      volumes:
      - name: contracts-scratch
        ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes: [ "ReadWriteOnce" ]
              storageClassName: default
              resources:
                requests:
                  storage: 20Gi
      {{ end }}


---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-frontend
  namespace: {{ $.Release.Namespace }}
data:
  config.json: |
    {{ include "frontend.config" . | fromYaml | toJson }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Release.Name }}-frontend
  namespace: {{ $.Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ $.Release.Name }}-frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ $.Release.Name }}-frontend
      annotations:
        gitsha: {{ $.Values.version | quote }}
        configsha: {{ include "frontend.config" . | sha256sum | quote }}
    spec:
      priorityClassName: {{ $.Values.priorityClassName | quote }}
      containers:
        - name: frontend
          image: {{ printf "ghcr.io/playmint/ds-shell:%s" $.Values.version }}
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /usr/share/caddy/config.json
              name: config
              subPath: config.json
      volumes:
        - name: config
          configMap:
            name: {{ $.Release.Name }}-frontend

---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-services
  namespace: {{ $.Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ $.Release.Name }}-services

---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-network
  namespace: {{ $.Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: network
      protocol: TCP
      name: network
  selector:
    app: {{ $.Release.Name }}-services

---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-frontend
  namespace: {{ $.Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ $.Release.Name }}-frontend

---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: {{ $.Release.Name }}-services
  namespace: {{ $.Release.Namespace }}
spec:
  endpoints:
  - dnsName: "services-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}"
    recordTTL: 60
    recordType: "CNAME"
    targets: ["{{ $.Values.cluster.domain }}"]

{{ if $.Values.anvil.enabled }}
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: {{ $.Release.Name }}-network
  namespace: {{ $.Release.Namespace }}
spec:
  endpoints:
  - dnsName: "network-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}"
    recordTTL: 60
    recordType: "CNAME"
    targets: ["{{ $.Values.cluster.domain }}"]
{{ end }}

---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: {{ $.Release.Name }}-frontend
  namespace: {{ $.Release.Namespace }}
spec:
  endpoints:
  - dnsName: "frontend-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}"
    recordTTL: 60
    recordType: "CNAME"
    targets: ["{{ $.Values.cluster.domain }}"]

---
apiVersion: "gateway.solo.io/v1"
kind: VirtualService
metadata:
  name: {{ $.Release.Name }}-services
  namespace: {{ $.Release.Namespace }}
spec:
  virtualHost:
    domains: ["services-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}"]
    routes:
    - matchers:
      - prefix: "/"
      routeAction:
        single:
          kube:
            ref:
              name: {{ $.Release.Name }}-services
              namespace: {{ $.Release.Namespace }}
            port: 80
      options:
        timeout: 120s
        upgrades:
        - websocket: {}
        retries:
          retryOn: gateway-error
          numRetries: 1
          perTryTimeout: 120s
  sslConfig:
    secretRef:
      name: "cluster-domain-certificate"
      namespace: "ingress-system"

{{ if $.Values.anvil.enabled }}
---
apiVersion: "gateway.solo.io/v1"
kind: VirtualService
metadata:
  name: {{ $.Release.Name }}-network
  namespace: {{ $.Release.Namespace }}
spec:
  virtualHost:
    domains: ["network-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}"]
    routes:
    - matchers:
      - prefix: "/"
      routeAction:
        single:
          kube:
            ref:
              name: {{ $.Release.Name }}-network
              namespace: {{ $.Release.Namespace }}
            port: 80
      options:
        timeout: 120s
        upgrades:
        - websocket: {}
        retries:
          retryOn: gateway-error
          numRetries: 1
          perTryTimeout: 120s
  sslConfig:
    secretRef:
      name: "cluster-domain-certificate"
      namespace: "ingress-system"
{{ end }}

---
apiVersion: "gateway.solo.io/v1"
kind: VirtualService
metadata:
  name: {{ $.Release.Name }}-frontend
  namespace: {{ $.Release.Namespace }}
spec:
  virtualHost:
    domains: ["frontend-{{ $.Release.Namespace }}.{{ $.Values.cluster.domain }}"]
    routes:
    - matchers:
      - prefix: "/"
      routeAction:
        single:
          kube:
            ref:
              name: {{ $.Release.Name }}-frontend
              namespace: {{ $.Release.Namespace }}
            port: 80
      options:
        timeout: 120s
        retries:
          retryOn: gateway-error
          numRetries: 1
          perTryTimeout: 120s
  sslConfig:
    secretRef:
      name: "cluster-domain-certificate"
      namespace: "ingress-system"
