# Compiler files
cache/
out/
/deployments/
node_modules/
/broadcast
/cache_hardhat

# Dotenv file
.env

# js
package.json
package-*.json

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
