# Compiler files
cache/
out/
/deployments/
node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# js
package.json
package-*.json
