name: Deployment (main)

on:
  push:
    branches:
      - main

jobs:

  build:
    name: Main Build
    uses: ./.github/workflows/build.yaml
    with:
      DEPLOYMENT_DOMAIN: downstream.game
      DEPLOYMENT_MAP: quest-map
      DEPLOYMENT_ENVIRONMENT: hexwood0
      DEPLOYMENT_PRIORITY: default
      PLATFORMS: linux/arm64,linux/arm/v7,linux/arm/v6,linux/amd64
    secrets:
      AZURE_REGISTRY_URL: ${{ secrets.AZURE_REGISTRY_URL }}
      AZURE_REGISTRY_USERNAME: ${{ secrets.AZURE_REGISTRY_USERNAME }}
      AZURE_REGISTRY_PASSWORD: ${{ secrets.AZURE_REGISTRY_PASSWORD }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_CLUSTER_NAME: ${{ secrets.AZURE_CLUSTER_NAME }}
      AZURE_CLUSTER_RESOURCE_GROUP: ${{ secrets.AZURE_CLUSTER_RESOURCE_GROUP }}
      UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
      UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
      UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
